<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Voting System Welcome Page</title>	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>    
		<div class="panel panel-primary" id="content" style="margin: 30px; padding-left: 20px; padding-right: 20px;">
	        <h1>Voting System 1.0 Vote:</h1>
	     
			<form action="#" th:action="@{/submitvote}" method="post">
					<h2>Choose One Option To Vote</h2>
					<p th:text="${votingTopicX.title}"></p>
						<div align="left">
			         	<input type="radio" th:name="${votingTopicX.title}" th:text="${votingTopicX.choice1}" th:field="${votingTopicX.choiceMade}" value="0"></input>
			         	&nbsp;&nbsp;
			         	<input type="radio" th:name="${votingTopicX.title}" th:text="${votingTopicX.choice2}" th:field="${votingTopicX.choiceMade}" value="1"></input>
			         	</div>		                             
					<br/>
					<button type="submit" value="Save Data Button" class="btn btn-info">Save My Vote</button> 
			</form>
 			<br/>
 			<div sec:authorize="hasRole('ROLE_ADMIN')">
 				<p>Admin tools:</p>		
 				<a href="/admin/deletethisquestion"><button class="btn btn-warning">DELETE THIS QUESTION</button></a>
        		<a href="/"><button class="btn btn-warning">Back to main menu</button></a>
        	</div>
        	<br/>
        
        </div>    
        
         
  
    </body>
</html>